@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer base {
  *, ::before, ::after {
    @apply transition-colors duration-500 ease-in-out;
  }

  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}
